.container {

    /* display: flex ; */
    /* flex-grow: 1; */
    /* border: 1px solid red; */
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    height:'100%'
  
}

/* .calculator{
    border: 2px solid black;
    margin: auto;
} */

/* table {
    margin: auto;
} */

input{
    border: 2px solid #000;
    font-size: 34px;
}

button {
    font-size: 23px;
    width: 62px;
    height: 45;
    /* border-radius: 3px; */
}